<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block head %}
<head>
{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Manali</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'static/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'static/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% endblock %}
{% block body %}
<body>
  {% load static %}
  <nav class="indigo lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:8000/ecommerce/" class="brand-logo"></a>
      {% load static %}
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="http://localhost:8000/ecommerce/cart">Cart</a></li><li><i class="material-icons">shopping_cart</i></li>
        <li><a href="#">Help</a></li>
        <li><input type="text" placeholder="Search.." name="search"></li><li><i class="material-icons">search</i></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<br><br><br><br>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">

Congratulations! Product {{products.prodcut_name }} has been added to the cart.

<a href = "http://localhost:8000/ecommerce"> Continue Shopping! </a>


  <!--      <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">store</i></h2>
            <a href="#"><h5 class="center">Product#2</h5></a>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">fastfood</i></h2>
            <a href="#"><h5 class="center">Product#3</h5></a>
            <p class="light"></p>
          </div>
        </div> -->
      </div>

    </div>
    <br><br>
  <br><br>
  <br><br>
  <footer class="page-footer indigo lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Support</h5>
          <p class="grey-text text-lighten-4">Write to us at customercare@gmail.com</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
  {% endblock %}
</html>
