<!DOCTYPE html>
<html lang="en">

{% extends 'cart/base.html' %}
{% block head %}
<head>
{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Manali</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'static/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'static/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
{% endblock %}
{% block body %}
<body>
  {% load static %}
  <nav class="indigo lighten-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:8000/ecommerce/" class="brand-logo"></a>
      {% load static %}
      <ul class="right hide-on-med-and-down">
        <li><a href="http://localhost:8000/ecommerce/cart">Cart</a></li><li><i class="material-icons">shopping_cart</i></li>
        <li><a href="#">Help</a></li>
        <li><input type="text" placeholder="Search.." name="search"></li><li><i class="material-icons">search</i></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text light">| EQUIPMENT |</h1>
    <!--  <div class="row center">
        <h5 class="header col s12 light">Biggest E-Commerce Shopping Website</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div> -->
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
{% if product %}
            <ul>
            {% for product in products %}
            <div class="col s12 m4">
                <h4 class="center"><li><a href="/cart/{{ product.product_ID }}/">{{product.product_name }}</a></li></h4>
                </div>
            {% endfor %}
            </ul>

        {% else %}
            <p>No products are available.</p>
        {% endif %}
</div>
  <!--      <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">store</i></h2>
            <a href="#"><h5 class="center">Product#2</h5></a>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">fastfood</i></h2>
            <a href="#"><h5 class="center">Product#3</h5></a>
            <p class="light"></p>
          </div>
        </div> -->
      </div>

    </div>
    <br><br>
  <br><br>
  <br><br>
  <footer class="page-footer indigo lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Support</h5>
          <p class="grey-text text-lighten-4">Write to us on customercare@gmal.com</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
  {% endblock %}
</html>
